{% extends 'blog/base.html' %}
{% block content %}
<div class="centerstage">
  {% for post in post_list %}
  <div class="post">
    <h1>
      <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
      <div class="date">
        <p>Published on: {{ post.published|date:"D M Y" }}</p>
      </div>
      <div class="">
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
      </div>
    </h1>
  </div>
  {% endfor %}
</div>
{% endblock %}
